JXTPortal.Web.Services/Connected Services/LocalWs/jobxadposter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.jobx.com.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.jobx.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.jobx.com.au/">
      <s:element name="PostAds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobads">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="archiveMissingJobs" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostAdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostAdsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostAdsSoapIn">
    <wsdl:part name="parameters" element="tns:PostAds" />
  </wsdl:message>
  <wsdl:message name="PostAdsSoapOut">
    <wsdl:part name="parameters" element="tns:PostAdsResponse" />
  </wsdl:message>
  <wsdl:portType name="jobxadposterSoap">
    <wsdl:operation name="PostAds">
      <wsdl:input message="tns:PostAdsSoapIn" />
      <wsdl:output message="tns:PostAdsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="jobxadposterSoap" type="tns:jobxadposterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostAds">
      <soap:operation soapAction="http://www.jobx.com.au/PostAds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="jobxadposterSoap12" type="tns:jobxadposterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostAds">
      <soap12:operation soapAction="http://www.jobx.com.au/PostAds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="jobxadposter">
    <wsdl:port name="jobxadposterSoap" binding="tns:jobxadposterSoap">
      <soap:address location="http://localhost:50942/jobxadposter.asmx" />
    </wsdl:port>
    <wsdl:port name="jobxadposterSoap12" binding="tns:jobxadposterSoap12">
      <soap12:address location="http://localhost:50942/jobxadposter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>